<div class="container mt-4">
  <h2>Perfil do Usuário</h2>
  <div class="card">
    <div class="card-body" *ngIf="user; else loading">
      <h5 class="card-title">{{ user.nome }}</h5>
      <p class="card-text"><strong>Email:</strong> {{ user.email }}</p>
    </div>
    <ng-template #loading>
      <div class="text-center">
        <p>Carregando informações do usuário...</p>
      </div>
    </ng-template>
  </div>
  <div class="text-center mt-3">
    <button (click)="onLogout()" class="btn btn-link link-primary">Deslogar</button>
  </div>
</div>
