<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card w-50">
      <div class="card-header bg-success">
        <h6>Cadastro de Usuário</h6>
      </div>
      <div class="card-body">
        <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="nome">Nome</label>
            <input id="nome" formControlName="nome" type="text" class="form-control" [ngClass]="{ 'is-invalid': nome?.invalid && (nome?.touched || nome?.dirty) }">
            <div *ngIf="nome?.invalid && (nome?.touched || nome?.dirty)" class="invalid-feedback">
              <div *ngIf="nome?.errors?.['required']">Nome é obrigatório.</div>
              <div *ngIf="nome?.errors?.['minlength']">Nome deve ter pelo menos 3 caracteres.</div>
              <div *ngIf="nome?.errors?.['maxlength']">Nome pode ter no máximo 50 caracteres.</div>
            </div>
          </div>
  
          <div class="mb-3">
            <label for="email">Email</label>
            <input id="email" formControlName="email" type="email" class="form-control" [ngClass]="{ 'is-invalid': email?.invalid && (email?.touched || email?.dirty) }">
            <div *ngIf="email?.invalid && (email?.touched || email?.dirty)" class="invalid-feedback">
              <div *ngIf="email?.errors?.['required']">Email é obrigatório.</div>
              <div *ngIf="email?.errors?.['email']">Insira um email válido.</div>
            </div>
          </div>
  
          <div class="mb-3">
            <label for="senha">Senha</label>
            <input id="senha" formControlName="senha" type="password" class="form-control" [ngClass]="{ 'is-invalid': senha?.invalid && (senha?.touched || senha?.dirty) }">
            <div *ngIf="senha?.invalid && (senha?.touched || senha?.dirty)" class="invalid-feedback">
              <div *ngIf="senha?.errors?.['required']">Senha é obrigatória.</div>
              <div *ngIf="senha?.errors?.['minlength']">Senha deve ter pelo menos 6 caracteres.</div>
              <div *ngIf="senha?.errors?.['maxlength']">Senha pode ter no máximo 20 caracteres.</div>
            </div>
          </div>
  
          <div class="mb-3">
            <label for="confirmarSenha">Confirme a Senha</label>
            <input id="confirmarSenha" formControlName="confirmarSenha" type="password" class="form-control" [ngClass]="{ 'is-invalid': confirmarSenha?.invalid && (confirmarSenha?.touched || confirmarSenha?.dirty) }">
            <div *ngIf="confirmarSenha?.invalid && (confirmarSenha?.touched || confirmarSenha?.dirty)" class="invalid-feedback">
              <div *ngIf="confirmarSenha?.errors?.['required']">Confirmação de senha é obrigatória.</div>
              <div *ngIf="confirmarSenha?.errors?.['mustMatch']">As senhas não coincidem.</div>
            </div>
          </div>
  
          <div class="text-center">
            <button class="btn btn-primary" type="submit" [disabled]="cadastroForm.invalid">Registrar</button>
          </div>
        </form>
        <div class="text-center mt-3">
          <button (click)="navegateToLogin()" class="btn btn-link link-primary">Fazer login</button>
        </div>
      </div>
    </div>
  </div>
  